* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c3c3c3;
}

h1 {
  padding: 15px 20px;
}

.container {
  margin: 0 auto;
  max-width: 75%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#btn {
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
  outline: none;
}

#btn:hover {
  box-shadow: 0 10px 10px #000;
}

.navbar {
  padding: 20px;
  background-image: linear-gradient(
    to left,
    rgb(73, 73, 73),
    rgb(34, 34, 34),
    #000
  );
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
  font-weight: 700;
}
